.keen-dashboard {
  background: green;
  

 
}

.keen-dashboard .chart-wrapper .chart-title {
  color: #666;
  background-color:white;
  font-size: 24px;
  color:black;
  text-align: center;
 
}

.one {
	
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
   height:40px;
  
   
}