.keen-dashboard {
  background: green;
  

 
}

.keen-dashboard .chart-wrapper .chart-title {
  color: #666;
  background-color:white;
  font-size: 24px;
  color:black;
  text-align: center;
 
}

.one {
	
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
   height:40px;
  
   
}

.navbar {
      margin-bottom: 0;
      border-radius: 0;
	  color:white;
	  font-size:15px;
}

.navbar-inverse .navbar-brand {
  color: white;
  font-size:30px;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: blue;
  background-color: transparent;
  font-size:30px;
}

